<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/img/logo-wx.jpg" type="image/x-icon">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script src="/static/script.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Portfólio</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="/static/img/fotow.png" alt="foto">
            <h1>Wendell Xavier</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/wendell-xavier-20b051144/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/wendellxavier" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.instagram.com/wendell.25/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </section>
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-arrow-down"></i> Curriculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatos"><i class="bi bi-mailbox-flag"></i> Contatos</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Wendell Xavier</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante de Programação</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">

                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para ver mais</a>
                </div>

            </div>

        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Olá, sou wendell xavier, tenho 28 anos e atualmente estudo Análise e desenvolvimento de sistema.
                        sempre gostei de tecnologia e sempre fui apaixonado em desenvolver coisas, como modelagem 3D,
                        sites e games.
                        e estou em busca de uma oportunidade na área

                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="/static/img/fotow.png" alt="Foto do wendell" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Informações</h3>
                    <p>Estudante: Análise e Desenvolvimento de Sistemas</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Data de Nascimento: <span class="fw-lighter">25 de março de 1996</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">28 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">São Paulo</span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter">Academia</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p></p>

                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Com meus estudo adquiri algumas habilidaes, maioria delas estão aqui, de acordo de porcentagem de
                    conhecimento que eu acredito ter.</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress " data-anime="left" role="progressbar " aria-label="Example with label"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 50%">50%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 40%">40%</div>
                        </div>
                        <p class="mt-3 mb-0">MySql</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 60%">60%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Git</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 70%">70%</div>
                        </div>
                        <p class="mt-3 mb-0">Django</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 30%">30%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 20%">20%</div>
                        </div>
                        <p class="mt-3 mb-0">ReactJs</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 10%">10%</div>
                        </div>

                    </div>
                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row">
                    <h2>Soft Skill</h2>
                    <p>Minhas Caracteristicas no Hambiente de trabalho</p>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Dedicado</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 100%">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Esforçado</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 100%">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 98%">98%</div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 100%">100%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Detalhista</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 89%">89%</div>
                        </div>
                        <p class="mt-3 mb-0">Pontualidade</p>
                        <div class="progress" data-anime="left" role="progressbar" aria-label="Example with label"
                            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar custom-progress" style="width: 100%">100%</div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise e desenvolvimento de sistemas</h4>
                            <h5>2023 - 2026</h5>
                            <p><em>(uninter) Centro universitário internacional uninter</em></p>
                            <p>Graduação em Tecnólogo em Análise e Desenvolvimento de Sistemas</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-bg mt-5" id="portfolio">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/img-projeto-1/1-fome.png" class="card-img-top"
                                            alt="projeto-fome-zero">
                                        <div class="card-body">
                                            <h5 class="card-title">Plataforma fome zero</h5>
                                            <p class="card-text">Projeto Django com Bootstrap e SQLite de cadastro de
                                                voluantario e usuarios, que cadastra local de doação de marmitas</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/wendellxavier/fome-zero" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/img-projeto-1/poke.png" class="card-img-top"
                                            alt="Pokedex">
                                        <div class="card-body">
                                            <h5 class="card-title">Pokedex</h5>
                                            <p class="card-text">Projeto com HTML, CSS e JavaScript e cosumindo API</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/wendellxavier/pokedex" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                                <a href="https://wendellxavier.github.io/pokedex/" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link"></i></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/img-projeto-1/corte.png" class="card-img-top"
                                            alt="Conecta-corte">
                                        <div class="card-body">
                                            <h5 class="card-title">Conecta-corte</h5>
                                            <p class="card-text">Projeto desenvolvido com Django, Bootstrap e SQLite,
                                                Cadastro de usuarios e clientes, plataforma de visualizar
                                                agendamentos...</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/wendellxavier/ConectaCorte" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="carousel-item" data-bs-interval="2000">

                        </div>
                        <div class="carousel-item">

                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>São Paulo, SP</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> Email:</h4>
                                <p>wendell_xw20@hotmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29236.881808614555!2d-46.67976657589432!3d-23.654125928915565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5abd1c9c3ff5%3A0xb64ad2f9fa54c2ea!2sZona%20Sul%20de%20S%C3%A3o%20Paulo%20-%20Vila%20Santa%20Catarina%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004379-060!5e0!3m2!1spt-BR!2sbr!4v1719403854924!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card pb-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome: </label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome.." required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email: </label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email.." required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem: </label>
                                    <textarea type="text" class="form-control" id="mensagem" rows="10"
                                        placeholder="Digite sua mensagem" name="mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4" id="botao-bg">
                                    <button id="btn-enviar" type="submit" class="btn btn-info">Enviar mensagem</button>


                                    <button id="btn-enviar-loader" class="btn btn-info" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                        <span role="status">Enviando...</span>
                                    </button>

                                </div>



                            </form>



                        </div>
                    </div>

                </div>
            </div>

        </section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle-fill"></i>{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}


       
       
        

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Wendell xavier</strong>
            </div>

        </div>
    </footer>

</body>

</html>